<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compare Scenarios</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Compare Two Scenarios</h1>

    <form th:action="@{/compare}" th:object="${compareRequest}" method="post" class="form-container">
        <div class="scenario-block">
            <h3>Scenario A</h3>
            <input type="number" th:field="*{requestA.income}" placeholder="Income A" required>
            <input type="number" th:field="*{requestA.cadastralIncome}" placeholder="cadastralIncome A" required>
            <input type="number" th:field="*{requestA.numChildren}" placeholder="Num Children A" required>
            <input type="number" th:field="*{requestA.numOrphanedChildren}" placeholder="Num Orphaned Children A" required>
            <select th:field="*{requestA.status}" required>
                <option value="" disabled selected>Select Status A</option>
                <option value="Employed">Employed</option>
                <option value="Unemployed">Unemployed</option>
            </select>
            <input type="number" th:field="*{requestA.durationMonths}" placeholder="Status durationMonths A" required>
            <input type="number" th:field="*{requestA.lastSalary}" placeholder="Last Salary Value A" required>
        </div>

        <div class="scenario-block">
            <h3>Scenario B</h3>
            <input type="number" th:field="*{requestB.income}" placeholder="Income B" required>
            <input type="number" th:field="*{requestB.numChildren}" placeholder="Children B" required>
        </div>

        <button type="submit">Compare</button>
    </form>
</body>
</html>
